/*******************************************************************************
Course: COMP3008 (Winter 2018), Project 2
Project: Project 2 - Password Scheme
Name: Phonetic.pw
Group Members: Jason Lai, Altin Rexhepaj, Randy Taylor, Devin Waclawik
*******************************************************************************/

/* CSS style page for phonetic.pw password testing framework*/

@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Roboto+Mono');
html {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background: #333333;
    font-family: 'Comfortaa', sans-serif;
    color: white;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3)
}

p {
    font-size: 18px;
    color: white;
}

small {
    font-size: 10px;
    color: white;
}

select {
    border-radius: 5px;
}

input:focus, select:focus, textarea:focus {
    outline: none;
}

hr {
    color: white;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.50), rgba(255, 255, 255, 0));
}

h1 {
    text-align: center;
}

div.tile {
    box-shadow: 2px 2px rgb(51, 51, 51);
    background-color: rgb(90, 90, 90);
    font-weight: bold;
    border: 1px dashed white;
    border-radius: 10px;
    padding: 10px;
    width: 50px;
    height: 50px;
    vertical-align: top;
    display: inline-block;
    margin: 5px;
    text-align: center;
}

div.tile span {
    color: black;
    font-size: 25px;
}

button {
    padding: 5px;
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 10px 10px 10px 10px;
    color: white;
    background-color: #4f4e4e;
    border: solid 1px #355;
    border-radius: 10px;
    outline: none;
    font-family: inherit;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.42);
}

button:active {
    background-color: green;
}

button:hover {
    box-shadow: inset 0px 0px 3px rgba(150, 150, 150, 0.2);
    cursor: pointer;
}

input[type=text] {
    width: 50%;
    font-weight: bolder;
    height: 46px;
    text-shadow: 3px;
    background-color: white;
    font-size: 36px;
    text-align: center;
    box-shadow: inset 0px 0px 28px 3px #ABABAB;
    box-shadow: outline 0px 0px 8px black;
    font-family: 'Comfortaa', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid #355;
    border-radius: 4px;
    margin: 22px;
}

.header {
    text-align: center;
    color: white;
    padding: 5px 20px 5px 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.block {
    position: relative;
    padding: 2px;
    margin: inherit;
    color: white;
    background-color: #444;
    border: solid 1px #355;
    border-radius: 10px;
}

.gen {
    position: relative;
    margin: 10px;
    color: white;
    background-color: #444;
    border: solid 1px #355;
    border-radius: 10px;
}

.test {
    position: relative;
    padding: 10px 10px 10px 10px;
    margin: inherit;
    color: white;
    background-color: #444;
    border: solid 1px #355;
    border-radius: 10px;
}

#level {
    text-shadow: 2px;
    font-size: 30px;
    font-weight: bold;
}

#showAnswers {
    cursor: pointer;
}

#password {
    font-size: 36px;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 0px 0px 13px rgba(0, 0, 0, 0.42);
}

#practice-buttonStrip, #buttonStrip {
    padding: 10px;
}

#success {
    color: lime;
    font-weight: bolder;
}

#fail {
    color: orange;
    font-weight: bolder;
}

#attemptsLeft, #attempt_counter {
    color: #428bca;
    font-weight: bolder;
    font-size: 15px;
    display: inline;
    padding: 5px;
    margin-bottom: 5px;
}

#tester {
    margin: 10px;
}
